<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bscm -->
      <package
            uri="http://palladiosimulator.org/BlockchainSystemComponentModel/NodeAllocation/1.0"
            class="org.palladiosimulator.blockchainsystems.bscm.nodeallocation.NodeallocationPackage"
            genModel="model/bscm.genmodel"/>
   </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bscm -->
      <package
            uri="http://palladiosimulator.org/BlockchainSystemComponentModel/NodeSystem/1.0"
            class="org.palladiosimulator.blockchainsystems.bscm.nodesystem.NodesystemPackage"
            genModel="model/bscm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bscm -->
      <package
            uri="http://palladiosimulator.org/BlockchainSystemComponentModel/BlockchainSystemComponentRepository/1.0"
            class="org.palladiosimulator.blockchainsystems.bscm.blockchainsystemComponentRepository.BlockchainsystemComponentRepositoryPackage"
            genModel="model/bscm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bscm -->
      <package
            uri="http://palladiosimulator.org/BlockchainSystemComponentModel/P2PNetwork/1.0"
            class="org.palladiosimulator.blockchainsystems.bscm.p2pnetwork.P2pnetworkPackage"
            genModel="model/bscm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bscm -->
      <package
            uri="http://palladiosimulator.org/BlockchainSystemComponentModel/BlockchainSystem/1.0"
            class="org.palladiosimulator.blockchainsystems.bscm.blockchainsystem.BlockchainsystemPackage"
            genModel="model/bscm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bscm -->
      <package
            uri="http://palladiosimulator.org/BlockchainSystemComponentModel/NodeEnvironment/1.0"
            class="org.palladiosimulator.blockchainsystems.bscm.nodeenvironment.NodeenvironmentPackage"
            genModel="model/bscm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bscm -->
      <package
            uri="http://palladiosimulator.org/BlockchainSystemComponentModel/GeographicalRegions/1.0"
            class="org.palladiosimulator.blockchainsystems.bscm.geographicalregions.GeographicalregionsPackage"
            genModel="model/bscm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bscm -->
      <package
            uri="http://palladiosimulator.org/BlockchainSystemComponentModel/LinkAllocation/1.0"
            class="org.palladiosimulator.blockchainsystems.bscm.linkallocation.LinkallocationPackage"
            genModel="model/bscm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bscm -->
      <package
            uri="http://palladiosimulator.org/BlockchainSystemComponentModel/Transactions/1.0"
            class="org.palladiosimulator.blockchainsystems.bscm.transactions.TransactionsPackage"
            genModel="model/bscm.genmodel"/>
   </extension>

</plugin>
