<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bscm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.blockchainsystems.bscm.nodeallocation.presentation.NodeallocationModelWizardID"
            name="%_UI_NodeallocationModelWizard_label"
            class="org.palladiosimulator.blockchainsystems.bscm.nodeallocation.presentation.NodeallocationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NodeallocationModelFile.gif">
         <description>%_UI_NodeallocationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bscm -->
      <editor
            id="org.palladiosimulator.blockchainsystems.bscm.nodeallocation.presentation.NodeallocationEditorID"
            name="%_UI_NodeallocationEditor_label"
            icon="icons/full/obj16/NodeallocationModelFile.gif"
            extensions="nodeallocation"
            class="org.palladiosimulator.blockchainsystems.bscm.nodeallocation.presentation.NodeallocationEditor"
            contributorClass="org.palladiosimulator.blockchainsystems.bscm.nodeallocation.presentation.NodeallocationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bscm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.blockchainsystems.bscm.nodesystem.presentation.NodesystemModelWizardID"
            name="%_UI_NodesystemModelWizard_label"
            class="org.palladiosimulator.blockchainsystems.bscm.nodesystem.presentation.NodesystemModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NodesystemModelFile.gif">
         <description>%_UI_NodesystemModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bscm -->
      <editor
            id="org.palladiosimulator.blockchainsystems.bscm.nodesystem.presentation.NodesystemEditorID"
            name="%_UI_NodesystemEditor_label"
            icon="icons/full/obj16/NodesystemModelFile.gif"
            extensions="nodesystem"
            class="org.palladiosimulator.blockchainsystems.bscm.nodesystem.presentation.NodesystemEditor"
            contributorClass="org.palladiosimulator.blockchainsystems.bscm.nodesystem.presentation.NodesystemActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bscm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.blockchainsystems.bscm.blockchainsystemComponentRepository.presentation.BlockchainsystemComponentRepositoryModelWizardID"
            name="%_UI_BlockchainsystemComponentRepositoryModelWizard_label"
            class="org.palladiosimulator.blockchainsystems.bscm.blockchainsystemComponentRepository.presentation.BlockchainsystemComponentRepositoryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BlockchainsystemComponentRepositoryModelFile.gif">
         <description>%_UI_BlockchainsystemComponentRepositoryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bscm -->
      <editor
            id="org.palladiosimulator.blockchainsystems.bscm.blockchainsystemComponentRepository.presentation.BlockchainsystemComponentRepositoryEditorID"
            name="%_UI_BlockchainsystemComponentRepositoryEditor_label"
            icon="icons/full/obj16/BlockchainsystemComponentRepositoryModelFile.gif"
            extensions="bscmrepository"
            class="org.palladiosimulator.blockchainsystems.bscm.blockchainsystemComponentRepository.presentation.BlockchainsystemComponentRepositoryEditor"
            contributorClass="org.palladiosimulator.blockchainsystems.bscm.blockchainsystemComponentRepository.presentation.BlockchainsystemComponentRepositoryActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bscm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.blockchainsystems.bscm.p2pnetwork.presentation.P2pnetworkModelWizardID"
            name="%_UI_P2pnetworkModelWizard_label"
            class="org.palladiosimulator.blockchainsystems.bscm.p2pnetwork.presentation.P2pnetworkModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/P2pnetworkModelFile.gif">
         <description>%_UI_P2pnetworkModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bscm -->
      <editor
            id="org.palladiosimulator.blockchainsystems.bscm.p2pnetwork.presentation.P2pnetworkEditorID"
            name="%_UI_P2pnetworkEditor_label"
            icon="icons/full/obj16/P2pnetworkModelFile.gif"
            extensions="p2pnetwork"
            class="org.palladiosimulator.blockchainsystems.bscm.p2pnetwork.presentation.P2pnetworkEditor"
            contributorClass="org.palladiosimulator.blockchainsystems.bscm.p2pnetwork.presentation.P2pnetworkActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bscm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.blockchainsystems.bscm.blockchainsystem.presentation.BlockchainsystemModelWizardID"
            name="%_UI_BlockchainsystemModelWizard_label"
            class="org.palladiosimulator.blockchainsystems.bscm.blockchainsystem.presentation.BlockchainsystemModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BlockchainsystemModelFile.gif">
         <description>%_UI_BlockchainsystemModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bscm -->
      <editor
            id="org.palladiosimulator.blockchainsystems.bscm.blockchainsystem.presentation.BlockchainsystemEditorID"
            name="%_UI_BlockchainsystemEditor_label"
            icon="icons/full/obj16/BlockchainsystemModelFile.gif"
            extensions="blockchainsystem"
            class="org.palladiosimulator.blockchainsystems.bscm.blockchainsystem.presentation.BlockchainsystemEditor"
            contributorClass="org.palladiosimulator.blockchainsystems.bscm.blockchainsystem.presentation.BlockchainsystemActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bscm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.blockchainsystems.bscm.nodeenvironment.presentation.NodeenvironmentModelWizardID"
            name="%_UI_NodeenvironmentModelWizard_label"
            class="org.palladiosimulator.blockchainsystems.bscm.nodeenvironment.presentation.NodeenvironmentModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NodeenvironmentModelFile.gif">
         <description>%_UI_NodeenvironmentModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bscm -->
      <editor
            id="org.palladiosimulator.blockchainsystems.bscm.nodeenvironment.presentation.NodeenvironmentEditorID"
            name="%_UI_NodeenvironmentEditor_label"
            icon="icons/full/obj16/NodeenvironmentModelFile.gif"
            extensions="nodeenvironment"
            class="org.palladiosimulator.blockchainsystems.bscm.nodeenvironment.presentation.NodeenvironmentEditor"
            contributorClass="org.palladiosimulator.blockchainsystems.bscm.nodeenvironment.presentation.NodeenvironmentActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bscm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.blockchainsystems.bscm.geographicalregions.presentation.GeographicalregionsModelWizardID"
            name="%_UI_GeographicalregionsModelWizard_label"
            class="org.palladiosimulator.blockchainsystems.bscm.geographicalregions.presentation.GeographicalregionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GeographicalregionsModelFile.gif">
         <description>%_UI_GeographicalregionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bscm -->
      <editor
            id="org.palladiosimulator.blockchainsystems.bscm.geographicalregions.presentation.GeographicalregionsEditorID"
            name="%_UI_GeographicalregionsEditor_label"
            icon="icons/full/obj16/GeographicalregionsModelFile.gif"
            extensions="geographicalregions"
            class="org.palladiosimulator.blockchainsystems.bscm.geographicalregions.presentation.GeographicalregionsEditor"
            contributorClass="org.palladiosimulator.blockchainsystems.bscm.geographicalregions.presentation.GeographicalregionsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bscm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.blockchainsystems.bscm.linkallocation.presentation.LinkallocationModelWizardID"
            name="%_UI_LinkallocationModelWizard_label"
            class="org.palladiosimulator.blockchainsystems.bscm.linkallocation.presentation.LinkallocationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LinkallocationModelFile.gif">
         <description>%_UI_LinkallocationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bscm -->
      <editor
            id="org.palladiosimulator.blockchainsystems.bscm.linkallocation.presentation.LinkallocationEditorID"
            name="%_UI_LinkallocationEditor_label"
            icon="icons/full/obj16/LinkallocationModelFile.gif"
            extensions="linkallocation"
            class="org.palladiosimulator.blockchainsystems.bscm.linkallocation.presentation.LinkallocationEditor"
            contributorClass="org.palladiosimulator.blockchainsystems.bscm.linkallocation.presentation.LinkallocationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bscm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.blockchainsystems.bscm.transactions.presentation.TransactionsModelWizardID"
            name="%_UI_TransactionsModelWizard_label"
            class="org.palladiosimulator.blockchainsystems.bscm.transactions.presentation.TransactionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TransactionsModelFile.gif">
         <description>%_UI_TransactionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bscm -->
      <editor
            id="org.palladiosimulator.blockchainsystems.bscm.transactions.presentation.TransactionsEditorID"
            name="%_UI_TransactionsEditor_label"
            icon="icons/full/obj16/TransactionsModelFile.gif"
            extensions="transactions"
            class="org.palladiosimulator.blockchainsystems.bscm.transactions.presentation.TransactionsEditor"
            contributorClass="org.palladiosimulator.blockchainsystems.bscm.transactions.presentation.TransactionsActionBarContributor">
      </editor>
   </extension>

</plugin>
